 * {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
 }
 
 body {
     font-family: "Lato", sans-serif;
     background-color: #e5e5e5;
 }
 
 span {
     font-family: "Lato", sans-serif;
 }
 
 .sair {
     position: absolute;
     bottom: 30px;
     left: 20px;
 }
 
 nav {
     position: fixed;
     width: 100vw;
     top: 0;
     display: flex;
     justify-content: space-around;
     align-items: center;
     min-height: 12vh;
     z-index: 999;
 }
 
 #navbar-helpp {
     transition: all 0.5s ease-in-out;
     background-color: transparent;
 }
 
 #depois {
     transition: all 0.5s ease-in-out;
     background-color: #c4c4c4;
     -webkit-box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.5);
     box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.5);
 }
 
 .logo img {
     width: 153px;
     height: 79px;
 }
 
 .nav-links {
     position: absolute;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     width: 30%;
     transform: translateX(100%);
     transition: transform 0.5s ease-in;
     background-color: #c4c4c4;
     z-index: 9999;
     -webkit-box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.5);
     box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.5);
 }
 
 .nav-links li {
     list-style-type: none;
     margin: 20px;
 }
 
 .nav-links a {
     text-decoration: none;
     font-weight: 900;
     text-transform: uppercase;
     letter-spacing: 2px;
     font-size: 28px;
     color: black;
 }
 
 .burguer {
     cursor: pointer;
     margin-left: 450px;
 }
 
 .burguer div {
     width: 30px;
     height: 3px;
     background-color: black;
     margin: 5px;
     transition: all 0.3s ease-in;
 }
 
 .nav-active {
     transform: translateX(0%);
 }
 
 .toggle .linha1 {
     transform: rotate(-45deg) translate(-5px, 6px);
 }
 
 .toggle .linha2 {
     opacity: 0;
 }
 
 .toggle .linha3 {
     transform: rotate(45deg) translate(-5px, -6px);
 }
 
 .conteudo {
     height: 100vh;
 }
 
 @media (max-width: 768px) {
     .nav-links {
         width: 50vw;
     }
     .burguer {
         cursor: pointer;
         margin-left: 0px;
         position: absolute;
         right: 50px;
     }
     nav {
         justify-content: space-between;
     }
 }
 
 @media (min-width:600px) {
     .nav-links {
         right: 0;
         height: 100vh;
         top: 0;
     }
 }
 
 @media (max-width: 600px) {
     .nav-links {
         transform: translateX(0%);
         width: 100%;
         height: 12vh;
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: row;
         position: fixed;
         bottom: 0px;
         -webkit-box-shadow: 0px -2px 5px 0px rgba(44, 44, 44, 1);
         -moz-box-shadow: 0px -2px 5px 0px rgba(44, 44, 44, 1);
         box-shadow: 0px -2px 5px 0px rgba(44, 44, 44, 1);
     }
     .sair {
         position: relative;
         margin: 0;
         right: 0;
         bottom: 0;
         left: 0;
         top: 0;
     }
     .logo {
         display: flex;
         position: relative;
     }
     nav {
         display: flex;
         justify-content: center;
         height: 10vh;
     }
     .burguer {
         display: none;
     }
     .nav-links li {
         padding: 7px;
     }
     .spanInicio,
     .spanCriarAtiv,
     .spanAtiv,
     .spanConfig,
     .spanSair {
         display: none;
     }
 }
 
 @media (max-width:350px) {
     .nav-links li {
         padding: 1px;
     }
 }
 
 @media screen and (max-width:1110px) and (min-width:990px) {
     .nav-links {
         width: 40%;
     }
     .dark-mode {
         position: absolute;
         bottom: 30px;
         right: 30px;
     }
 }
 
 @media screen and (max-width:989px) and (min-width:769px) {
     .nav-links {
         width: 50%;
     }
 }