* {
    font-family: "Lato", sans-serif;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #e5e5e5;
}

.btnEntrar2 {
    outline: none;
    border: 0px;
    padding: 15px;
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 900;
    -webkit-box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.75);
    background-color: #1ec2b4;
}

.btnEntrar {
    outline: none;
    border: 0px;
    padding: 15px;
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 900;
    -webkit-box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.75);
    background-color: #1ec2b4;
}

#cmbCargo {
    outline: none;
    border: 0px;
    padding: 15px;
    font-size: 24px;
    border-radius: 5px;
    font-weight: 900;
    -webkit-box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.75);
    background-color: #c4c4c4;
}

.txtrm {
    outline: none;
    border: 0px;
    padding: 15px;
    margin-right: 15px;
    font-size: 24px;
    border-radius: 5px;
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.75);
    background-color: #c4c4c4;
}

.txtSenha2 {
    outline: none;
    border: 0px;
    padding: 15px;
    font-size: 24px;
    border-radius: 5px;
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.75);
    background-color: #c4c4c4;
}

.txtSenha {
    outline: none;
    border: 0px;
    padding: 15px;
    font-size: 24px;
    border-radius: 5px;
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.75);
    background-color: #c4c4c4;
}

.esqueceu-senha {
    font-size: 24px;
    text-decoration: none;
    color: #007CA3;
}

@media(min-width: 961px) {
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo {
        width: 407px;
        height: 224px;
    }
    .divisoria {
        position: absolute;
        width: 13%;
        height: 0px;
        opacity: 1;
        border: 1px solid #000000;
        transform: rotate(90deg);
        z-index: 999999999999999999999;
    }
    .half-one {
        width: 50vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
        position: relative;
    }
    .half-two {
        width: 50vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
        text-align: center;
        position: relative;
    }
    .rodape {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 250px;
        opacity: 0.5;
    }
    .copy {
        position: absolute;
        bottom: 0;
        opacity: 0.5;
    }
    .tituloForm {
        font-size: 52px;
        font-weight: 300;
        text-align: center;
    }
    .btnEntrar {
        width: 99%;
    }
    #cmbCargo {
        width: 37%;
    }
    .txtrm {
        width: 52%;
    }
    .txtSenha {
        width: 93%;
    }
    .txtSenha2 {
        width: 75%;
    }
    .btnEntrar2 {
        width: 80%;
    }
}

@media (max-width:960px) {
    .half-one {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 30vh;
    }
    .half-two {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .tituloForm {
        text-align: center;
    }
    .logo {
        height: 115px;
    }
    .tituloForm {
        font-size: 48px;
        font-weight: 300;
    }
    .btnEntrar {
        width: 99%;
    }
    .btnEntrar2 {
        width: 98%;
    }
    #cmbCargo {
        width: 37%;
        font-size: 18px;
    }
    .txtrm {
        width: 50%;
        font-size: 18px;
    }
    .txtSenha {
        width: 91%;
        font-size: 18px;
    }
    .txtSenha2 {
        width: 91%;
        font-size: 18px;
    }
    footer {
        display: none;
    }
}

@media (max-width:370px) {
    .half-two {
        height: 100vh;
    }
    .txtrm {
        width: 47%;
    }
    .txtSenha {
        width: 90%;
    }
    .txtSenha2 {
        width: 90%;
    }
    .half-one {
        display: none;
    }
}

.modal-container {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
    justify-content: center;
    z-index: 99999;
}

.modal {
    background: #e5e5e5;
    width: 40%;
    height: 150px;
    min-width: 300px;
    min-height: 150px;
    padding: 40px;
    border-radius: 15px;
    position: relative;
    -webkit-box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.5);
    font-size: 24px;
}

.botao {
    background-color: #1ec2b4;
    border: 0;
    border-radius: 5px;
    font-weight: 900;
    padding: 10px;
    width: 20%;
    position: absolute;
    right: 50px;
    bottom: 30px;
    -webkit-box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.modal-container.mostrar {
    display: flex;
}

.mostrar .modal {
    animation: modal .6s;
}

.tituloModal {
    position: absolute;
    top: 20px;
}

@keyframes kf_fadeIn {
    0% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0
    }
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}